@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



.navbar{
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
}

a.nav-link{
    color: white;
   
}
p{
    text-decoration: none;
    color: grey;
    padding-top: 0px;
    margin-top: -10px;
}

.form-control1{
    width: 80% !important;
}